Repository vermaysha/isp-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

.lintstagedrc:

{
  "*.php": [
    "./vendor/bin/pint"
  ],
  "*.blade.php": [
    "./node_modules/.bin/blade-formatter --write"
  ]
}

add blade formater to composer
  composer.json
Due: none

refactor views
  resources/views/components/pagination.blade.php
  resources/views/errors/layout.blade.php
  resources/views/layouts/dashboard.blade.php
  resources/views/layouts/pages.blade.php
  resources/views/pages/admin/admin/index.blade.php
  resources/views/pages/admin/home.blade.php
  resources/views/pages/admin/register/index.blade.php
  resources/views/pages/admin/reseller/create.blade.php
  resources/views/pages/admin/reseller/detail.blade.php
  resources/views/pages/admin/reseller/index.blade.php
  resources/views/pages/admin/user/detail.blade.php
  resources/views/pages/client/bill/detail.blade.php
  resources/views/pages/client/bill/index.blade.php
  resources/views/pages/client/home.blade.php
  resources/views/pages/client/invoice/index.blade.php
  resources/views/pages/client/payment/index.blade.php
  resources/views/pages/client/profile/index.blade.php
  resources/views/pages/login.blade.php
  resources/views/pages/profile.blade.php
  resources/views/pages/reseller/bill/index.blade.php
  resources/views/pages/reseller/client/detail.blade.php
  resources/views/pages/reseller/client/edit.blade.php
  resources/views/pages/reseller/client/index.blade.php
  resources/views/pages/reseller/employee/create.blade.php
  resources/views/pages/reseller/employee/detail.blade.php
  resources/views/pages/reseller/employee/edit.blade.php
  resources/views/pages/reseller/employee/index.blade.php
  resources/views/pages/reseller/history/index.blade.php
  resources/views/pages/reseller/home.blade.php
  resources/views/pages/reseller/plan/create.blade.php
  resources/views/pages/reseller/plan/detail.blade.php
  resources/views/pages/reseller/plan/edit.blade.php
  resources/views/pages/reseller/plan/index.blade.php
  resources/views/pages/reseller/transaction/detail.blade.php
  resources/views/pages/reseller/transaction/index.blade.php
  resources/views/pages/reseller/transaction/indexTable.blade.php
  resources/views/pages/signup.blade.php
  resources/views/welcome.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

add php debug
  .vscode/extensions.json
  .vscode/launch.json
Due: none

remove unused php version
  docker/7.4/Dockerfile
Due: none

remove unused php version
  docker/7.4/php.ini
  docker/7.4/start-container
  docker/7.4/supervisord.conf
  docker/8.0/Dockerfile
  docker/8.0/php.ini
  docker/8.0/start-container
  docker/8.0/supervisord.conf
Due: none

change mailhog with mailpit
  .env.example
Due: none

add mailpit
  docker-compose.yml
Due: none

install laravel-backup
  composer.json
  composer.lock
Due: none

laravel backup translation
  lang/vendor/backup/ar/notifications.php
  lang/vendor/backup/bg/notifications.php
  lang/vendor/backup/bn/notifications.php
  lang/vendor/backup/cs/notifications.php
  lang/vendor/backup/da/notifications.php
  lang/vendor/backup/de/notifications.php
  lang/vendor/backup/en/notifications.php
  lang/vendor/backup/es/notifications.php
  lang/vendor/backup/fa/notifications.php
  lang/vendor/backup/fi/notifications.php
  lang/vendor/backup/fr/notifications.php
  lang/vendor/backup/hi/notifications.php
  lang/vendor/backup/id/notifications.php
  lang/vendor/backup/it/notifications.php
  lang/vendor/backup/ja/notifications.php
  lang/vendor/backup/nl/notifications.php
  lang/vendor/backup/no/notifications.php
  lang/vendor/backup/pl/notifications.php
  lang/vendor/backup/pt-BR/notifications.php
  lang/vendor/backup/pt/notifications.php
  lang/vendor/backup/ro/notifications.php
  lang/vendor/backup/ru/notifications.php
  lang/vendor/backup/tr/notifications.php
  lang/vendor/backup/uk/notifications.php
  lang/vendor/backup/zh-CN/notifications.php
  lang/vendor/backup/zh-TW/notifications.php
Due: ./vendor/bin/pint

laravel backup configuration
  config/backup.php
Due: ./vendor/bin/pint

disable column statisctics for mysql
  config/database.php
Due: ./vendor/bin/pint

custom filesystem for backups
  config/filesystems.php
Due: ./vendor/bin/pint

register laravel backup to scheduler
  app/Console/Kernel.php
Due: ./vendor/bin/pint

setup scheduler in laravel sail
  docker/8.2/Dockerfile
  docker/8.2/scheduler
  docker/8.2/supervisord.conf
Due: none

admin pages update
  app/Http/Controllers/Admin/PasswordController.php
  resources/views/layouts/dashboard.blade.php
  resources/views/pages/admin/home.blade.php
  resources/views/pages/admin/password/index.blade.php
  routes/roles/admin.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

update pages only admin and reseller
  resources/views/pages/admin/password/index.blade.php
  resources/views/pages/admin/register/index.blade.php
  resources/views/pages/reseller/client/index.blade.php
  resources/views/pages/reseller/employee/index.blade.php
  resources/views/pages/reseller/plan/index.blade.php
  resources/views/pages/signup.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

install laravel health
  composer.json
  composer.lock
Due: none

add uptime check
  app/Providers/HealthCheckServiceProvider.php
Due: ./vendor/bin/pint

register schedule and queue checkes
  app/Console/Kernel.php
Due: ./vendor/bin/pint

auto run queue and scheduler
  docker/8.1/scheduler
  docker/8.1/supervisord.conf
  docker/8.2/supervisord.conf
Due: none

install cpu load check
  composer.json
  composer.lock
Due: none

register healthcheck provider
  config/app.php
Due: ./vendor/bin/pint

write Health Check Providers
  app/Providers/HealthCheckServiceProvider.php
Due: ./vendor/bin/pint

register healthcheck to scheduler
  app/Console/Kernel.php
Due: ./vendor/bin/pint

laravel health monitor config
  config/health.php
Due: ./vendor/bin/pint

install doctrine/dbal
  composer.json
  composer.lock
Due: none

healthcheck table
  database/migrations/2023_02_20_125715_create_health_tables.php
Due: ./vendor/bin/pint

status route
  routes/web.php
Due: ./vendor/bin/pint

uptime check
  app/Checks/UptimeCheck.php
Due: ./vendor/bin/pint

change uptime
  app/Checks/UptimeCheck.php
Due: ./vendor/bin/pint

remove fail
  app/Providers/HealthCheckServiceProvider.php
Due: ./vendor/bin/pint

generate rupiah_format helpers
  app/helpers.php
Due: ./vendor/bin/pint

replace number_format with rupiah_format
  app/Models/Bill.php
  app/Models/Plan.php
  resources/views/pages/client/bill/detail.blade.php
  resources/views/pages/reseller/home.blade.php
  resources/views/pages/reseller/plan/index.blade.php
  resources/views/pages/reseller/transaction/bills.blade.php
  resources/views/pages/reseller/transaction/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

generate view service provider
  app/Providers/ViewServiceProvider.php
Due: ./vendor/bin/pint

remove app service provider code
  app/Providers/AppServiceProvider.php
Due: ./vendor/bin/pint

register provider
  config/app.php
Due: ./vendor/bin/pint

move owner homepage
  resources/views/pages/reseller/home/owner.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

move owner homepage
  app/Http/Controllers/HomeController.php
Due: ./vendor/bin/pint

fix query
  app/Http/Controllers/Reseller/BillController.php
  app/Providers/ViewServiceProvider.php
Due: ./vendor/bin/pint

add admin menu
  resources/views/layouts/dashboard.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write
