Repository vermaysha/isp-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

.lintstagedrc:

{
  "*.php": [
    "./vendor/bin/pint"
  ],
  "*.blade.php": [
    "./node_modules/.bin/blade-formatter --write"
  ]
}

business admin routes
  routes/roles/business_admin.php
Due: ./vendor/bin/pint

separate owner, admin, technician homepage
  app/Http/Controllers/HomeController.php
Due: ./vendor/bin/pint

add plan to technician
  resources/views/layouts/dashboard.blade.php
  routes/roles/business_technician.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

fix query
  app/Http/Controllers/Reseller/ClientController.php
  app/Http/Controllers/Reseller/PlanController.php
Due: ./vendor/bin/pint

remove unused stylesheet
  resources/views/pages/reseller/home/owner.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

per role homepage
  resources/views/pages/reseller/home/admin.blade.php
  resources/views/pages/reseller/home/technician.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

change bussiness routes
  routes/roles/business.php
  routes/roles/business_admin.php
  routes/roles/business_technician.php
  routes/web.php
Due: ./vendor/bin/pint

add payment month filter
  app/Http/Controllers/Reseller/BillController.php
  resources/views/pages/reseller/transaction/index.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

admin and technician pages update
  app/Http/Controllers/HomeController.php
  resources/views/layouts/dashboard.blade.php
  resources/views/pages/reseller/home/admin.blade.php
  resources/views/pages/reseller/home/technician.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

add fonts dir
  storage/fonts/.gitignore
Due: none

Enable after-commit feature in queue.php
  config/queue.php
Due: ./vendor/bin/pint

Generate Invoice Jobs
  app/Jobs/GenerateInvoice.php
Due: ./vendor/bin/pint

Add field 'invoice_file' to bills table
  database/migrations/2023_01_31_084250_create_bills_table.php
Due: ./vendor/bin/pint

Add hooks to restart queues and optimize Artisan after deploy success
  deploy.php
Due: ./vendor/bin/pint

Add InvoicePDFSeeder to generate invoice PDFs
  database/seeders/InvoicePDFSeeder.php
Due: ./vendor/bin/pint

Add 'invoices' filesystem config
  config/filesystems.php
Due: ./vendor/bin/pint

invoice view
  resources/views/pdf/invoice.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update lintstagedrc and pint.json exclude resources
  .lintstagedrc
  pint.json
Due: none

Add GenerateInvoice job dispatch for bills without invoice file
  app/Console/Commands/GenerateBill.php
Due: ./vendor/bin/pint

Add dompdf config
  config/dompdf.php
Due: ./vendor/bin/pint

Add 'storage/fonts' to writable_dirs
  deploy.php
Due: ./vendor/bin/pint

Add rupiah_format prefix argument
  app/helpers.php
Due: ./vendor/bin/pint

Install laravel-dompdf and predis
  composer.json
  composer.lock
Due: none

Add InvoicePDFSeeder to DatabaseSeeder
  database/seeders/DatabaseSeeder.php
Due: ./vendor/bin/pint

Update Bill model to handle missing attributes when formatting
  app/Models/Bill.php
Due: ./vendor/bin/pint

Add route and view to show invoice file in BillController and view
  app/Http/Controllers/Client/BillController.php
  resources/views/pages/client/bill/detail.blade.php
  routes/roles/client.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add route and components to download invoice file in BillController
  app/Http/Controllers/Reseller/BillController.php
  resources/views/pages/reseller/transaction/detail.blade.php
  routes/roles/business.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add title to invoice blade template
  app/Jobs/GenerateInvoice.php
  resources/views/pdf/invoice.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Refactor HomeController to include reseller.employees in clientGraph query
  app/Http/Controllers/HomeController.php
Due: ./vendor/bin/pint

add pages review reseller after signup
  app/Http/Controllers/Admin/RegisterController.php
  resources/views/pages/admin/register/index.blade.php
  resources/views/pages/admin/register/review.blade.php
  routes/roles/admin.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Deploy invoices directory to storage/app/invoices
  deploy.php
Due: ./vendor/bin/pint

reseller register update some stuff
  resources/views/pages/admin/home.blade.php
  resources/views/pages/admin/register/review.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

update small thing
  resources/views/pages/admin/register/review.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

add register reseller form in admin role
  app/Http/Controllers/Admin/RegisterController.php
  resources/views/pages/admin/register/register.blade.php
  resources/views/pages/admin/register/review.blade.php
  routes/roles/admin.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

admin controller
  app/Http/Controllers/Admin/AdminController.php
Due: ./vendor/bin/pint

Add Admin Models
  app/Models/Admin.php
Due: ./vendor/bin/pint

Add relation to Admin model to User model
  app/Models/User.php
Due: ./vendor/bin/pint

Add Admin tables migration
  database/migrations/2023_03_02_091150_create_admins_table.php
Due: ./vendor/bin/pint

Rename MainUserSeeder to AdminSeeder and add Admin model creation
  database/seeders/AdminSeeder.php
Due: ./vendor/bin/pint

Update DatabaseSeeder to call AdminSeeder
  database/seeders/DatabaseSeeder.php
Due: ./vendor/bin/pint
