Repository vermaysha/isp-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add create admin form
  resources/views/pages/admin/admin/create.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add details view
  resources/views/pages/admin/admin/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add edit admin form
  resources/views/pages/admin/admin/edit.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update admin view to display admin data in a DataTable
  resources/views/pages/admin/admin/index.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update routes for reseller detail page and client page link
  resources/views/pages/admin/reseller/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update gender comparison operator in user detail page
  resources/views/pages/admin/user/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update gender check for client detail page
  resources/views/pages/reseller/client/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update gender value to male in reseller employee detail page
  resources/views/pages/reseller/employee/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add routes and controller methods for Admin route
  routes/roles/admin.php
Due: ./vendor/bin/pint

Add route and view for client detail page
  app/Http/Controllers/Admin/ClientController.php
Due: ./vendor/bin/pint

Add view page for admin client detail page
  resources/views/pages/admin/client/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update indexTable.blade.php to link to Client and Reseller detail pages
  resources/views/pages/admin/client/indexTable.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update grand total format in reseller transaction index table
  resources/views/pages/reseller/transaction/indexTable.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update gender rendering condition to use user data
  resources/views/pages/admin/admin/index.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add graph method to generate Graph data
  app/helpers.php
Due: ./vendor/bin/pint

Commit: Refactor graph function to use global scope
  app/Http/Controllers/HomeController.php
Due: ./vendor/bin/pint

Remove Core UI styles and scripts from admin home page
  resources/views/pages/admin/home.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update Chart.js in admin.blade.php for reseller home page
  resources/views/pages/reseller/home/admin.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Refactor GenerateBill class to use Illuminate Log facade
  app/Console/Commands/GenerateBill.php
Due: ./vendor/bin/pint

Update Log facade to Illuminate\Support\Facades\Log
  app/Http/Controllers/Admin/ResellerController.php
Due: ./vendor/bin/pint

Refactor adminPages controller to use CarbonImmutable and graph functions
  app/Http/Controllers/HomeController.php
Due: ./vendor/bin/pint

Add charts for clients and resellers on dashboard page
  resources/views/pages/admin/home.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add total count of PPN and non-PPN users to admin dashboard view
  app/Http/Controllers/HomeController.php
Due: ./vendor/bin/pint

Update icon and remove comments from dashboard layout
  resources/views/layouts/dashboard.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add chart for total PPN users in admin dashboard
  resources/views/pages/admin/home.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Remove Storage Missing Checking
  app/Http/Controllers/Reseller/BillController.php
Due: ./vendor/bin/pint

Update BillController.php
  app/Http/Controllers/Reseller/BillController.php
Due: ./vendor/bin/pint

Update filesystems.php
  config/filesystems.php
Due: ./vendor/bin/pint

Update GenerateBill.php
  app/Console/Commands/GenerateBill.php
Due: ./vendor/bin/pint

update UserController
  routes/roles/admin.php
Due: ./vendor/bin/pint

Update home.blade.php
  resources/views/pages/admin/home.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add package vermaysha/laravel-wilayah-indonesia to composer.json and composer.lock
  composer.json
  composer.lock
Due: none

Publish vermaysha/laravel-wilayah-indonesia config
  config/wilayah.php
Due: ./vendor/bin/pint

Publish vermaysha/laravel-wilayah-indonesia migrations
  database/migrations/2023_03_04_064755_create_provinces_table.php
  database/migrations/2023_03_04_064756_create_cities_table.php
  database/migrations/2023_03_04_064757_create_districts_table.php
  database/migrations/2023_03_04_064758_create_village_table.php
Due: ./vendor/bin/pint

Update DatabaseSeeder to conditionally call seeders depending on environment
  database/seeders/DatabaseSeeder.php
Due: ./vendor/bin/pint

Update Admin class to add mixin annotation
  app/Models/Admin.php
Due: ./vendor/bin/pint

Add App\Models\IdeHelperAdmin and App\Models\Bill::whereInvoiceFile() method
  _ide_helper_models.php
Due: ./vendor/bin/pint

Update ide helper
  .phpstorm.meta.php
  _ide_helper.php
Due: ./vendor/bin/pint

Update table names in wilayah configuration
  config/wilayah.php
Due: ./vendor/bin/pint

Path conditions:
  ./vendor/bin/pint: any of: *.php
  ./node_modules/.bin/blade-formatter --write: any of: *.blade.php
