Repository vermaysha/isp-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add select2 class to gender selectors in create and edit pages
  resources/views/pages/admin/admin/create.blade.php
  resources/views/pages/admin/admin/edit.blade.php
  resources/views/pages/reseller/client/create.blade.php
  resources/views/pages/reseller/client/edit.blade.php
  resources/views/pages/reseller/employee/create.blade.php
  resources/views/pages/reseller/employee/edit.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add client status and installation date display in detail page
  resources/views/pages/reseller/client/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add custom filter for datatable
  resources/views/pages/reseller/client/index.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Commit message: Update dashboard layout to remove nav-item for 'Calon Pelanggan'
  resources/views/layouts/dashboard.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update route to comment out '/candidate' in business.php
  routes/roles/business.php
Due: ./vendor/bin/pint

Add ClientStatus enum with NOT_INSTALLED, ACTIVED, BLOCKED, and INACTIVE values
  app/Enums/ClientStatus.php
Due: ./vendor/bin/pint

Add Enums/ClientType enum class
  app/Enums/ClientType.php
Due: ./vendor/bin/pint

Commit message: Update ClientController to include ClientStatus and ClientType Enums
  app/Http/Controllers/Reseller/ClientController.php
Due: ./vendor/bin/pint

Add ClientType and ClientStatus enum classes
  app/Models/Client.php
Due: ./vendor/bin/pint

Create clients table with optional reseller ID and type fields
  database/migrations/2023_01_05_060918_create_clients_table.php
Due: ./vendor/bin/pint

Add ClientType and ClientStatus enum usage to ClientSeeder
  database/seeders/ClientSeeder.php
Due: ./vendor/bin/pint

Update client status and installation date display logic
  resources/views/pages/reseller/client/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update dashboard navigation to include Calon Pelanggan and Pelanggan routes
  resources/views/layouts/dashboard.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add getAllValues() method to ClientStatus and ClientType enums
  app/Enums/ClientStatus.php
  app/Enums/ClientType.php
Due: ./vendor/bin/pint

Add method for updating status for user in ClientController
  app/Http/Controllers/Reseller/ClientController.php
Due: ./vendor/bin/pint

Add prospectiveClient count to view
  app/Providers/ViewServiceProvider.php
Due: ./vendor/bin/pint

Update dashboard layout to display prospective client count
  resources/views/layouts/dashboard.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add alert for status update success in client detail page
  resources/views/pages/reseller/client/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add route for editing client status
  routes/roles/business.php
Due: ./vendor/bin/pint

add direct menu in admin role
  resources/views/layouts/dashboard.blade.php
  resources/views/pages/admin/direct/index.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

update direct client menu in admin role
  app/Http/Controllers/Admin/DirectController.php
  resources/views/pages/admin/direct/index.blade.php
  resources/views/pages/admin/direct/office.blade.php
  routes/roles/admin.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Create dependabot-auto-merge.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

add profile menu in all role
  app/Http/Controllers/ProfileController.php
  app/Http/Controllers/Reseller/ProfileController.php
  resources/views/layouts/dashboard.blade.php
  resources/views/pages/admin/profile/index.blade.php
  resources/views/pages/login.blade.php
  resources/views/pages/reseller/plan/index.blade.php
  resources/views/pages/reseller/profile/business.blade.php
  resources/views/pages/reseller/profile/employee.blade.php
  resources/views/pages/reseller/profile/index.blade.php
  routes/roles/admin.php
  routes/roles/business.php
  routes/roles/client.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update README.md
  README.md
Due: none

Add ResellerType enum with getAllValues() function
  app/Enums/ResellerType.php
Due: ./vendor/bin/pint

Add 'type' cast to Reseller model with ResellerType class
  app/Models/Reseller.php
Due: ./vendor/bin/pint

Update pre-commit script to allow empty commits
  .husky/pre-commit
Due: none

Add `type` column to resellers table
  database/migrations/2023_01_05_060658_create_resellers_table.php
Due: ./vendor/bin/pint

Add namespace to ResellerType enum
  app/Enums/ResellerType.php
Due: ./vendor/bin/pint

Update Reseller Model to use App\Enums\ResellerType and add type field
  app/Models/Reseller.php
Due: ./vendor/bin/pint

Create resellers table with Enum for reseller type
  database/migrations/2023_01_05_060658_create_resellers_table.php
Due: ./vendor/bin/pint

Add ResellerType Enum and reseller official owner to ResellerSeeder
  database/seeders/ResellerSeeder.php
Due: ./vendor/bin/pint

Change Image
  database/seeders/DatabaseSeeder.php
Due: ./vendor/bin/pint

Add Office Model for storing office related data
  app/Models/Office.php
Due: ./vendor/bin/pint

Update Office class to include IdeHelperOffice mixin
  app/Models/Office.php
Due: ./vendor/bin/pint

Update IdeHelper models for Client, Office, and Reseller
  _ide_helper_models.php
Due: ./vendor/bin/pint

Update IDE helper for Laravel 10.3.3
  _ide_helper.php
Due: ./vendor/bin/pint

Add Pipeline class to .phpstorm.meta.php
  .phpstorm.meta.php
Due: ./vendor/bin/pint

Path conditions:
  ./vendor/bin/pint: any of: *.php
  ./node_modules/.bin/blade-formatter --write: any of: *.blade.php
