Repository vermaysha/isp-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update admin address form fields to include old value as default
  resources/views/pages/admin/admin/edit.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add MAPBOX_TOKEN to .env.example
  .env.example
Due: none

Add Mapbox token to services config
  config/services.php
Due: ./vendor/bin/pint

mapbox script
  resources/views/js/mapbox.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

address stylesheet
  resources/views/stylesheet/address.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

mapbox stylesheet
  resources/views/stylesheet/mapbox.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add Mapbox component and address inputs to Edit Admin page
  resources/views/pages/admin/admin/edit.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Commit: Add latitude and longitude to user address and update coordinates with Point object
  app/Http/Controllers/Admin/AdminController.php
Due: ./vendor/bin/pint

Update Mapbox center and zoom based on provided latitude and longitude
  resources/views/js/mapbox.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update edit.blade.php to add map, latitude, longitude, and photo preview functionality
  resources/views/pages/admin/admin/edit.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Commit Add Address Model and Validation for AdminController
  app/Http/Controllers/Admin/AdminController.php
Due: ./vendor/bin/pint

Add input fields, select elements, and map for address information
  resources/views/pages/admin/admin/create.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Refactor gender field on admin detail page
  resources/views/pages/admin/admin/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update gender display for admin index page to show male, female, and unset
  resources/views/pages/admin/admin/index.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

fix typo
  resources/views/layouts/dashboard.blade.php
  resources/views/pages/admin/admin/detail.blade.php
  resources/views/pages/reseller/plan/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

update address
  app/Http/Controllers/Admin/ResellerController.php
Due: ./vendor/bin/pint

Update mapbox trackUserLocation to false
  resources/views/js/mapbox.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add address
  resources/views/pages/admin/reseller/create.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update reseller contract dates and duration display
  resources/views/pages/admin/reseller/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

add some menu in admin role
  app/Http/Controllers/Admin/DirectController.php
  app/Http/Controllers/Reseller/ClientController.php
  resources/views/layouts/dashboard.blade.php
  resources/views/pages/admin/direct/index.blade.php
  resources/views/pages/admin/home.blade.php
  resources/views/pages/reseller/client/candidate_client.blade.php
  routes/roles/admin.php
  routes/roles/business.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add graphMax helper function to helpers.php
  app/helpers.php
Due: ./vendor/bin/pint

Refactor user relations to include address details in ClientController
  app/Http/Controllers/Reseller/ClientController.php
Due: ./vendor/bin/pint

Update EmployeeController to include address in staff query
  app/Http/Controllers/Reseller/EmployeeController.php
Due: ./vendor/bin/pint

Update chart axes to include min and max values
  resources/views/pages/admin/home.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update table to display full address instead of partial address
  resources/views/pages/reseller/client/index.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update data and name of 'address' column to reflect city name
  resources/views/pages/reseller/employee/index.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update admin graph configs to include min and max values
  resources/views/pages/reseller/home/admin.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update owner page graph y-axis max values
  resources/views/pages/reseller/home/owner.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update technician.blade.php to adjust ticks and min/max values
  resources/views/pages/reseller/home/technician.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Commit: Add validations and updates to ClientController
  app/Http/Controllers/Reseller/ClientController.php
Due: ./vendor/bin/pint

Commit: Add validation for address fields in EmployeeController store and update methods
  app/Http/Controllers/Reseller/EmployeeController.php
Due: ./vendor/bin/pint

Add Address & Map
  resources/views/pages/reseller/client/create.blade.php
  resources/views/pages/reseller/client/edit.blade.php
  resources/views/pages/reseller/employee/create.blade.php
  resources/views/pages/reseller/employee/edit.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update view to include address line for client details
  resources/views/pages/reseller/client/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update index.blade.php to add district and village columns
  resources/views/pages/reseller/client/index.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update gender and address fields in detail.blade.php
  resources/views/pages/reseller/employee/detail.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Update index page to display district and sort by descending order
  resources/views/pages/reseller/employee/index.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add condition to filter clients by status
  app/Http/Controllers/Reseller/ClientController.php
Due: ./vendor/bin/pint

Update Client model to set INACTIVE constant to 3
  app/Models/Client.php
Due: ./vendor/bin/pint

Add Select2 theme to address view form
  resources/views/js/address.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Add bootstrap-5 theme to select2 elements in address.blade.php
  resources/views/js/address.blade.php
Due: ./vendor/bin/pint, ./node_modules/.bin/blade-formatter --write

Path conditions:
  ./vendor/bin/pint: any of: *.php
  ./node_modules/.bin/blade-formatter --write: any of: *.blade.php
